[submodule "stack/droneStackBasis/droneMsgsROS"]
	path = stack/droneStackBasis/droneMsgsROS
	url = https://bitbucket.org/joselusl/dronemsgsros.git
[submodule "extStackCVG/okto_driver"]
	path = extStackCVG/okto_driver
	url = https://bitbucket.org/Vision4UAV/okto_driver.git
	branch = catkin
[submodule "stack/droneDrivers/driversSensors/driver_camera_ueye/driver_camera_ueye"]
	path = stack/droneDrivers/driversSensors/driver_camera_ueye/driver_camera_ueye
	url = https://bitbucket.org/joselusl/driver_camera_ueye.git
[submodule "stack/droneDrivers/driversSensors/driver_camera_ueye/driver_camera_ueye_ROSModule"]
	path = stack/droneDrivers/driversSensors/driver_camera_ueye/driver_camera_ueye_ROSModule
	url = https://bitbucket.org/joselusl/driver_camera_ueye_rosmodule.git
