# Temporary files
*~

#ROS messages gen
msg_gen

#ROS servicios generados
srv_gen

#Ros carpeta build
build

#ROS carpeta src
*.py
*_.py

#user qt creator
CMakeLists.txt.user

#ROS carpeta lib
lib

#ROS carpeta bin
bin
