<!-- Launches: Simulator RVIZ visualization -->

<launch>
	<arg name="drone_id_namespace"  default="drone0" />
	<arg name="drone_id_int" 	default="0" />
	<arg name="my_stack_directory" 	default="$(env DRONE_STACK)" />
	<group ns="$(arg drone_id_namespace)">
		<!-- rviz -->
		<node pkg="rviz" type="rviz" name="rviz" 
	    		args="-d $(find droneSimulatorRvizROSModule)/launch/Simulator_rviz.rviz"/>

	  	<node name="rviz_translator_from_simulator" pkg="droneSimulatorRvizROSModule" type="SimulatorRvizROSModuleNode" respawn="false" required="true" output="screen">
	  	</node>

	  	<node name="rviz_translator_from_ekf" pkg="droneEkfSimulatorRvizROSModule" type="EKFSimulatorRvizROSModuleNode" respawn="false" required="true" output="screen">
	  	</node>

		<node name="rviz_translator_from_robotSim" pkg="robotSimulatorRvizROSModule" type="robotSimulatorRvizROSModuleNode" respawn="false" required="true" output="screen">
	  	</node>

		<node name="rviz_translator_from_robotPf" pkg="robotSimulatorRvizROSModule" type="robotPFRvizROSModuleNode" respawn="false" required="true" output="screen">
	  	</node>
	</group>
</launch>



