<?xml version="1.0"?>
<launch>

     <arg name="drone_id_namespace"  default="drone4" />
     <arg name="drone_id_int" 	     default="4" />
     <arg name="my_stack_directory"  default="$(env AEROSTACK_STACK)" />
     <arg name="wifi_selection_type"  default="1" />
     <arg name="wifi_channel"	      default="5" />
     <arg name="wifi_band"	      default="0" /> <!-- 0: 2.4GHz, 1: 5GHz, 2: 2.4GHz + 5GHz -->

     <group ns="$(arg drone_id_namespace)">
        <node pkg="bebop_driver" name="bebop_driver" type="bebop_driver_node" output="screen">
						<param name="bebop_ip" value="192.168.42.1" />
            <param name="camera_info_url"  value="package://driverBebopROSModule/data/bebop2_cam_calib_480.yaml" />
            <param name="PictureSettingsVideoStabilizationModeMode" value="3" type="int"  />
            <param name="PictureSettingsVideoFramerateFramerate" value="2" type="int" />
		        <param name="NetworkSettingsWifiSelectionType" value="$(arg wifi_selection_type)" type="int" />
		        <param name="NetworkSettingsWifiSelectionChannel" value="$(arg wifi_channel)" type="int" />
		        <param name="NetworkSettingsWifiSelectionBand" value="$(arg wifi_band)" type="int" />
            <rosparam command="load" file="$(env AEROSTACK_STACK)/launchers/bebop_launchers/defaults.yaml" />

        </node>
	  <node ns="camera/front" pkg="image_proc" type="image_proc" name="image_proc" />

    </group>
</launch>
