<!-- Launches: driverOktoROSModule -->
<launch>
	<arg name="drone_id_namespace"  default="drone2" />
	<arg name="drone_id_int" 	default="2" />
	<arg name="my_stack_directory" 	default="$(env DRONE_STACK)" />
	<group ns="$(arg drone_id_namespace)">
		<!-- Battery Okto -->
		<node name="droneBattery" pkg="driverOktoROSModule" type="batteryOktoROSModule" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
		<!-- rotationAngles Okto -->
		<node name="droneRotationAngles" pkg="driverOktoROSModule" type="rotationAnglesOktoROSModule" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
		
		<!-- droneCommand Okto -->
		<node name="droneCommand" pkg="driverOktoROSModule" type="droneCommandOktoROSModule" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
	</group>
</launch>
