<!-- Launches: px4flow_node -->
<launch>

  <arg name="drone_id_namespace"  default="drone0" />
  <arg name="drone_id_int" 	      default="0" />
  <arg name="my_stack_directory" 	default="$(env AEROSTACK_STACK)" />
  <arg name="serial_port"         default="/dev/ttyACM0" />
  <arg name="baudrate"            default="115200" />
  <group ns="$(arg drone_id_namespace)">

    <node name="px4flow" pkg="px4flow" type="px4flow_node" output="screen" respawn="true" clear_params="true">
        <param name="serial_port" value="$(arg serial_port)"/>
        <param name="baudrate"    value="$(arg baudrate)" />
    </node>

  </group>

</launch>
