<!-- Launches: driver_px4flow_interface_ROSModule_okto -->
<launch>
	<arg name="drone_id_namespace"  default="drone0" />
	<arg name="drone_id_int" 	default="0" />
	<arg name="my_stack_directory" 	default="$(env DRONE_STACK)" />
	<group ns="$(arg drone_id_namespace)">
		<!-- Altitude Okto -->
		<node name="altitudeROSModuleokto" pkg="driver_px4flow_interface_ROSModule_okto" type="px4flowAltitudeROSModuleokto" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
		<!-- GroundSpeed Okto -->
		<node name="groundSpeedROSModuleokto" pkg="driver_px4flow_interface_ROSModule_okto" type="px4flowInterfaceROSModuleokto" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
	</group>
</launch>
