# Temporary files
*~

#ROS messages and services generated folders
msg_gen
srv_gen

#Ros carpeta build, lib, include, bin
bin
build
lib

# ROS carpetas donde guarda .h de los msgs src/nombre_pkg
src/lib_cvgloggerROS

#user qt creator
CMakeLists.txt.user

*.cmake
gtest
devel
catkin_generated
CMakeFiles
catkin
CMakeCache.txt
