<!-- Launches: ardrone_autonomy driver; front and bottom camera rectification and visualization; -->
<launch>
	
	<arg name="drone_id_namespace" default="drone0" />
  <arg name="owner_mac" default="C0:38:96:8D:BB:1D" />

  <include file="ardrone_indoors.launch">
      <arg name="drone_id_namespace" default="$(arg drone0)"/>
      <arg name="owner_mac" default="$(arg owner_mac)"/>

  </include>


</launch>
