<!-- launches: droneExamplePackageNode node -->
<launch>
	<arg name="my_stack_directory" 		default="$(env DRONE_STACK)" />
	<arg name="drone_id_int" 		default="0" />  	

<!--
	<arg name="camera_name" 		default="front" /> 

	<arg name="camera_calib_param"		default="front_camera_calibration.yaml"/>

	<arg name="bot_param"			default="botConfig_frontCameras.xml"/>
-->

<!--
	<arg name="camera_topic_name"		default="camera/front"/>
	<arg name="ground_robots_topic_name"	default="$(arg camera_topic_name)/cv/robots_detection"/>
-->

<!--
	<arg name="viola_jones_model"		default="[SIDE]LBP_110714_30stages.xml"/>
	<arg name="svm_model"			default="csvm_LAB_model_nocv.xml"/>
	<arg name="svm_scale_values"		default="csvm_LAB_scaleValues_nocv.txt"/>
-->

	<group ns="drone$(arg drone_id_int)">
<!-- Node name (should be unique), package and type. Also additional stuff like output and priority -->
<!--
		<node name="droneExamplePackageNode1_$(arg camera_name)" pkg="droneExamplePackageROSModule" type="droneExamplePackageNode" output="screen" launch-prefix="nice -n 20">
-->
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>

<!--
			<param name="camera_calib_param" value="$(arg my_stack_directory)/configs/drone$(arg drone_id_int)/$(arg camera_calib_param)" type="string"/>

			<param name="bot_param" value="$(arg my_stack_directory)/configs/drone$(arg drone_id_int)/$(arg bot_param)" type="string"/>
-->

<!--
			<param name="camera_topic_name"  value="$(arg camera_topic_name)/image_raw" type="string"/>
			<param name="ground_robots_topic_name"  value="$(arg ground_robots_topic_name)" type="string"/>
-->

<!--
			<param name="viola_jones_model" value="$(arg my_stack_directory)/configs/drone$(arg drone_id_int)/$(arg viola_jones_model)" type="string"/>
			<param name="svm_model" value="$(arg my_stack_directory)/configs/drone$(arg drone_id_int)/$(arg svm_model)" type="string"/>
			<param name="svm_scale_values" value="$(arg my_stack_directory)/configs/drone$(arg drone_id_int)/$(arg svm_scale_values)" type="string"/>
-->

		</node>
	</group>
</launch>
