<!-- Launches: driver_px4flow_interface_ROSModule -->
<launch>
	<arg name="drone_id_namespace"  default="drone0" />
	<arg name="drone_id_int" 	default="0" />
	<arg name="my_stack_directory" 	default="$(env AEROSTACK_STACK)" />
	<group ns="$(arg drone_id_namespace)">
		<!-- Altitude -->
		<node name="altitudeROSModule" pkg="driver_px4flow_interface_ROSModule" type="px4flowAltitudeROSModule" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
		<!-- GroundSpeed -->
		<node name="groundSpeedROSModule" pkg="driver_px4flow_interface_ROSModule" type="px4flowInterfaceROSModule" output="screen">
			<param name="droneId" value="$(arg drone_id_int)" type="int"/>
			<param name="stackPath" value="$(arg my_stack_directory)" type="string"/>
		</node>
	</group>
</launch>
