<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- mavteleop example launch script -->

	<!-- <include file="$(find mavros)/launch/px4.launch" /> -->


	<arg name="drone_id_namespace"  default="drone0" />
	<arg name="drone_id_int" 	default="0" />
	<arg name="my_stack_directory" 	default="$(env DRONE_STACK)" />

	<arg name="teleop_args" default="-vel" />

	<group ns="$(arg drone_id_namespace)">

	<node pkg="joy" type="joy_node" name="joy" required="True">
		<param name="autorepeat_rate" value="10" /> <!-- Minimal update rate, Hz -->
	</node>

	<node pkg="mavros_extras" type="mavteleop" name="mavteleop" args="$(arg teleop_args)" required="True" output="screen">
		<rosparam command="load" file="$(find mavros_extras)/launch/f710_joy.yaml" />
	</node>
</group>
</launch>
